---
layout: default
---

<div class="columns-block">
    <div class="left-col-block blocks">
        <header class="header">
            <div class="content text-center">
                <h1>Hi, I'm Sebastian Penhouet!</h1>

                <p class="lead">Head of Research & Development at <a href="https://airamed.de/"
                        style="color: #ffffff;">AIRAmed</a></p>
                <ul class="social-icon">
                    <li><a href="https://twitter.com/s_penhouet" aria-label="See my Twitter profile"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/sebastian-penhouet/"
                            aria-label="See my LinkedIn profile"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.xing.com/profile/Sebastian_Penhouet" aria-label="See my Xing profile"><i
                                class="fa fa-xing" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://github.com/Spenhouet" aria-label="See my GitHub profile"><i
                                class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/2230045/spenhouet"
                            aria-label="See my Stack Overflow profile"><i class="fa fa-stack-overflow"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="profile-img"></div>
        </header>
        <!-- .header-->
    </div>

    <div class="right-col-block blocks">
        <!-- {% include about.html %} -->

        {% for section in site.sections %}
        <section class="section-wrapper {% cycle '', 'gray-bg' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>{{section.title}}</h2>
                        </div>
                    </div>
                </div>
                <!--.row-->
                <div class="row">
                    {{ section.content }}
                </div>
                <!--.row-->
            </div>
            <!-- .container-fluid -->

        </section>
        <!-- .section -->
        {% endfor %}

        {% include footer.html %}
    </div>
    <!-- .right-col-block -->
</div>
<!-- .columns-block -->