<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sebastian Penhouet's online CV">
    <meta name="keywords" content="Sebastian Penhouet,CV,Profile,Research,Projects">
    <meta name="author" content="Sebastian Penhouet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sebastian Penhouet - Head of Research and Development at AIRAmed</title>

    <!-- favicon -->
    <link href="{{ 'favicon.ico' | absolute_url }}" rel=icon>

    <!-- web-fonts -->
    <link href="{{ 'css/font-hind.min.css' | absolute_url }}" rel="stylesheet">

    <!-- font-awesome -->
    <link href="{{ 'css/font-awesome.min.css' | absolute_url }}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{{ 'css/bootstrap.min.css' | absolute_url }}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{{ 'css/style.css' | absolute_url }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>