<ul class="social-icon">
    <li><a href="https://twitter.com/{{ site.twitter_username }}" aria-label="See my Twitter profile"><i
                class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="See my LinkedIn profile"><i
                class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li><a href="https://www.xing.com/profile/{{ site.xing_username }}" aria-label="See my Xing profile"><i
                class="fa fa-xing" aria-hidden="true"></i></a>
    </li>
    <li><a href="https://github.com/{{ site.github_username }}" aria-label="See my GitHub profile"><i
                class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}"
            aria-label="See my Stack Overflow profile"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
</ul>